/* 
Estrutura
*/


 body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #cabecalho {
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 }

 .container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
    /* border: 1px solid red; */
 }

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
    /* border: 1px solid red; */
}

ul#menu li a {
    /* border: 1px solid red; */
    float: left;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

ul#menu li a:hover {
    color: #4c799f;
}

ul#menu li.destaque a {
    background-color: black;
    color: white;
    border-radius: 15px;

}

ul#menu li a:hover {
    background-color: #c5e3fe;
}

ul#menu li.destaque a:hover {
    background-color: black;
    color: white;
    border-radius: 15px;
    color: #c5e3fe;
}


/*  AREA DE DESTAQUE  */
 #destaque {
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    margin-top: 4.7rem;
 }

 #area-destaque {
    width: 55%;
 }

 #destaque button {
    display: block;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: white;
 }

 .fundo-destaque {
    background: url("../medium/img/fundo-topo.png") no-repeat right bottom;
    background-size: 20rem 30rem;
 }

 #tendencias {
    padding-top: 0.8rem;
    /* border: solid 1px red; */
 }

 #tendencias::after {
    content: " ";
    display: table;
    clear: both;
 }

 .item-tendencia {
    width: 26%;
    padding-left: 7%;
    margin-bottom: 2rem;
    position: relative;
    float: left;
 }

 .numero {
    font-size: 3rem;
    font-weight: bold;
    color: lightgray;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
 }

 #rodape {
    background-color: #c5e3fe;
    border-top: 1px solid black;
 }

 

/* 
Tipografia
 */

h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    /* letter-spacing: -01rem; */
}

h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.titulo-tendencia {
    background: url("../medium/img/icone-tendencia.png") no-repeat left / contain;
    padding: 0.2rem 0 0.2rem 2rem;
    /* É a mesma coisa que o / contain do background ali em cima 
    background-size: contain;
     */
}

h3, h4 {
    margin: 0.2rem;
}

h4 {
    font-weight: 100;
}

.icone {
    padding-left: 1.5rem;
}

.imagem1 {
    background: url("../medium/img/icone1.png") no-repeat left / contain;
}

.imagem2 {
    background: url("../medium/img/icone2.png") no-repeat left / contain;
}

.imagem3 {
    background: url("../medium/img/icone3.png") no-repeat left / contain;
}

.imagem4 {
    background: url("../medium/img/icone4.png") no-repeat left / contain;
}

.imagem5 {
    background: url("../medium/img/icone5.png") no-repeat left / contain;
}

.imagem6 {
    background: url("../medium/img/icone6.png") no-repeat left / contain;
}